streamlit
langchain
lancedb
mistralai
sentence-transformers
python-dotenv
groq
langchain-huggingface
langchain-groq
langchain-openai
pymongo
tantivy
openlit==1.27.1
deepgram-sdk
streamlit-audiorecorder
streamlit_feedback