streamlit==1.40.0
lancedb==0.25.2
mistralai==1.9.11
sentence-transformers==5.1.2
python-dotenv==1.1.1
groq==0.33.0
langchain==0.3.0
langchain-groq==0.3.2
langchain-huggingface==0.2.0
langchain-openai==0.3.19
langgraph==0.5.4
langchain-community==0.3.0
pymongo==4.15.3
tantivy==0.25.0
# openlit==1.27.1  # Commented out due to tiktoken compatibility issues
deepgram-sdk==3.11.0
streamlit-feedback==0.1.3