streamlit==1.40.0
langchain
lancedb
mistralai
sentence-transformers
python-dotenv
groq
langchain-huggingface
langchain-groq
langchain-openai
pymongo
tantivy
openlit==1.27.1
deepgram-sdk==3.11.0
streamlit_feedback
langgraph
